form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
button {
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  border: 0;
}

input,
textarea {
  border: 1px solid $grey;
}

textarea {
  min-height: 8em;
  resize: vertical;
}
